a {
  color: rgb(254, 249, 239);
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}

a:hover {
 color: brown;
}
a:active {
color: brown;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: brown;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.portfolio {
  background-color: rgb(254, 249, 239);
  color: black
}


.contact {
  color: blue
}

.header {
  padding-top: 10px;
  
  height: 50px;
  background-color: rgb(254, 109, 115);
  
}

.about {
  height: 500px;
  background-color: rgb(254, 249, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 50px;
  background-color: rgb(255, 203, 119);
  padding-top: 10px;
  padding-left: 30%;
  padding-right: 30%;
}

.photobox {
  padding-right: 10px;
}

.aboutbox {
  padding-left: 100px;

}

.abouttext {
  padding-left: 10px;
  padding-right: 100px;
}